@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
html {
  color: #333;
  background-color: #ddd;
  font-family: 'Noto Serif', serif;
}

body {
  margin: 80px auto;
  max-width: 80ch;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

/* typography styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;

  margin: 2rem 0 1rem 0;
  line-height: 1;
  text-transform: uppercase;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
  color: #888;
}
p {
  text-wrap: pretty;
  font-size: 20px;
  margin-bottom: 2rem;
}

a {
  color: #333;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
em {
  color: #666;
}

/* nav styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
  padding: 1rem;
  background-color: #ddd;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80ch;
  margin: auto;
}
.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 28px;
  height: 5px;
  margin-bottom: 4px;
  background-color: #333;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #333;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 2px solid #333;
  outline-offset: -1px;
  width: 100%;
  color: #333;
}

.nav-links a:hover,
a:focus {
  color: #ddd;
  background-color: #333;
  border-radius: 3px;
}

.expanded {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  position: absolute;
  top: 4rem;
  left: 0;
  text-align: right;
  margin: 0;
  background-color: #ddd;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    outline: none;
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
