---
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts: any = await Astro.glob('../posts/*.md');
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle: string = 'Índice de categorías';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <a href={`/tags/${tag}`}>
          <p class="tag">{tag}</p>
        </a>
      ))
    }
  </div>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin: 0.4rem;
  }
</style>
