---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle: string = 'Un fanzine digital';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>Bienvenido a <strong>memoranda</strong></h2>
    <p>
      Donde cualquiera puede ser autor, sin importar su experiencia o historia.
    </p>
  </section>

  <section>
    <h3>Propósito</h3>
    <p>
      Queremos ofrecer un espacio abierto para que cualquiera pueda compartir
      pensamientos, relatos, poesías y más. Lo único que pedimos es respeto por
      la visión y las palabras de los demás.
    </p>
  </section>

  <section>
    <h3>Filosofía</h3>
    <p>
      Celebramos la diversidad, la creatividad y la autenticidad. Nos enfocamos
      en el contenido, manteniendo un diseño minimalista para que tu mensaje sea
      lo principal.
    </p>
  </section>

  <section>
    <h3>Comunidad</h3>
    <p>
      Escribe, comparte y disfruta de las diversas perspectivas que hacen único
      a <em>memoranda</em>. Este espacio es tanto tuyo como nuestro.
    </p>
  </section>
</BaseLayout>

<style>
  strong {
  }
</style>
