---
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'Blog';
---

<BaseLayout pageTitle="My Astro Learning Blog">
  <p>This is where I will post about my journey .</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
