---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeBtns from '../components/HomeBtns.astro';
import BgGrid from '../components/BgGrid.astro';
const pageTitle: string = 'Home Page';
---

<BaseLayout pageName={pageTitle}>
  <!-- 
    <p class="decor">⌨</p>
    <p class="decor">✲</p>
    <p class="decor">🕰</p>
    -->
  <p class="decor">🕮</p>
  <h1>memoranda</h1>
  <h2>Un fanzine digital</h2>

  <p>
    <em>
      Ni muros ni filtros: cada palabra cuenta y cada historia es parte de lo
      que somos.
    </em>
  </p>

  <HomeBtns />

  <BgGrid />
</BaseLayout>

<style>
  * {
    text-align: center;
  }

  h1 {
    margin: 0 0 1rem 0;
    font-size: 4rem;
  }

  .decor {
    font-size: 3rem;
    margin: 0;
  }
  span {
    font-weight: 300;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2.4rem;
    }
  }
</style>
