---
<<<<<<< HEAD
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeBtns from '../components/HomeBtns.astro';
import BgGrid from '../components/BgGrid.astro';
const pageTitle: string = 'Home Page';
---

<BaseLayout pageName={pageTitle}>
  <!-- 
    <p class="decor">⌨</p>
    <p class="decor">✲</p>
    <p class="decor">🕰</p>
    -->
  <p class="decor">🕮</p>
  <h1>memo</h1>
  <h2>Fanzine digital</h2>

  <p>
    <em>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad similique
      blanditiis rem id quos eum ut quam omnis officiis nulla?
    </em>
  </p>

  <HomeBtns />

  <BgGrid />
</BaseLayout>

<style>
  * {
    text-align: center;
  }

  h1 {
    margin: 0 0 1rem 0;
    font-size: 5rem;
  }

  .decor {
    font-size: 3rem;
    margin: 0;
  }
  span {
    font-weight: 300;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }
</style>
=======

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>Home</h1>
    <h2>Hello, World!</h2>
  </body>
</html>
>>>>>>> 4a8bb4a (first commit)
