---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle: string = 'Home Page';
---

<BaseLayout pageName={pageTitle}>
  <h1><span>Un</span>Name</h1>
  <h2>Un subtitulo para la paÌgina</h2>

  <p>
    Un Name es un espacio abierto para que cualquiera pueda escribir sobre lo
    que quiera. No hace falta ser periodista ni tener experiencia. Este es tu
    lugar para contar historias, compartir ideas o simplemente expresarte. No
    hay filtros ni vueltas, solo gente real diciendo lo que piensa.
  </p>
</BaseLayout>

<style>
  span {
    font-weight: 300;
  }
</style>
