---

---

<div class="back">
  <a href="/blog">Back</a>
</div>

<style>
  .back {
    position: fixed;
    bottom: 2rem;
    display: flex;
    justify-content: right;
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
  }
  a {
    position: relative;
    margin-right: 2rem;
    background-color: #333;
    color: #ddd;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
</style>
