---

---

<div class="back">
  <a href="/blog">Back</a>
</div>

<style>
  .back {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  a {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background-color: #333;
    color: #ebddde;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
</style>
