---

---

<div class="home"></div>
<style>
  .home {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: -20vw;
    width: 100vw;
    height: 60vh;

    background: none;
    background-image: linear-gradient(
        rgba(187, 187, 187, 0.7) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(175, 176, 175, 0.7) 0.1em, transparent 0.1em);
    background-size: 3em 3em;
  }
</style>
