---
const { title, url } = Astro.props;
---

<li>
  <a href={url}>{title}</a>
</li>
<style>
  a:hover {
    background-color: #333;
    color: #ebddde;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;

    transition: all 0.3s;
  }

  ul {
    list-style: none;
  }
</style>
