---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <div class="header-container">
    <a class="logo" href="/" title="the blog">
      me<span class="accent">mo</span>
    </a>
    <nav>
      <Hamburger />
      <Navigation />
      <ThemeIcon />
    </nav>
  </div>
</header>

<script>
  import '../scripts/menu.ts';
</script>

<style>
  a {
    margin: 0;
    font-weight: 400;
  }
  .accent {
    font-weight: 700;
  }
  .logo {
    font-size: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
</style>
