---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
  <div class="header-container">
    <a href="/" title="the blog">
      <span class="logo"> N<span class="accent">N</span></span>
      <span class="title"> UN<span class="accent">NAME</span></span>
      <!-- <span> HATE<span class="accent">HATR</span></span>  -->
    </a>
    <nav>
      <Hamburger />
      <Navigation />
    </nav>
  </div>
</header>

<script>
  import '../scripts/menu.ts';
</script>

<style>
  a {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
  }
  .title {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .accent {
    font-weight: 900;
  }
  .logo {
    font-size: 2rem;
    display: none;
  }

  @media screen and (max-width: 600px) {
    .title {
      opacity: 0;
    }

    .logo {
      display: block;
    }
  }
</style>
