---

---

<div>
  <button class="escribe">Escribe algo</button>
  <button class="lee">Lee Random</button>
</div>

<style>
  div {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  button {
    text-transform: uppercase;
    border-radius: 16px;
    padding: 0.5rem 1rem;
  }
  .escribe {
    border: solid 1px #333;
    background-color: #ebddde;
    color: 333;
  }
  .escribe:hover {
    background-color: #333;
    color: #ebddde;
  }
  .lee {
    color: #ebddde;
    background-color: #333;
    border: solid 1px #333;
  }
  .lee:hover {
    background-color: #ebddde;
    color: #333;
    border: solid 1px #333;
  }
</style>
